<div class="main rooms-show">
  <div class="container">
    <div class="top-wrapper">
      <h2><%= "検索結果：#{@rooms.count}件" %></h2>
    </div>
    <div class="rooms-index-item">
      <table>
        <thead>
          <tr>
            <th>画像</th>
            <th>施設名・詳細</th>
            <th>紹介文</th>
            <th>料金</th>
            <th>予約</th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td><%= image_tag room.image.url %></td>
              <td><%= link_to room.name, room_path(room) %></td>
              <td><%= room.detail %></td>
              <td><%= room.charge.to_s(:delimited) %></td>
              <td>予約</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
